.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  background-color: grey;
  border-radius: 0.8rem;
  padding: 1.2rem;
  width: fit-content;
}


.difficulty-slider-container {
  flex-grow: 2;
}

.settings-container label {
  font-size: 1.2rem;
}

.settings-container span {
  font-style: italic;
}

.setting-container h3 {
  font-weight: bolder;

}
