@media screen and (min-width: 720px) {
  .settings-area {
    background: rgba(255, 0, 0, 0.06);
    width: fit-content;
    height: 100%;
    margin: 1.2rem;
  }

  .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    background-color: grey;
    border-radius: 0.8rem;
    padding: 1.2rem;
    width: fit-content;
  }
}

@media screen and (max-width: 720px) {
  .settings-area {
    background: rgba(255, 0, 0, 0.06);
    width: 100%;
    height: 100%;
  }

  .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    background-color: grey;
    border-radius: 0.8rem;
    padding: 1.2rem;
    width: 100%;
  }

  .mode-selection-container {
    flex-direction: column;
    align-items: stretch;
  }

  .mode-selection-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 0;
  }
}






.difficulty-slider-container {
  flex-grow: 2;
}

.settings-container label {
  font-size: 1.2rem;
}

.settings-container span {
  font-style: italic;
}

.setting-container h3 {
  font-weight: bolder;

}
